/*general color and type styles*/
body {
	background-color: $bg;
}

h1, h2, p {
	color: $main-color;
	font-family: $body-type;
}

a {
	border-bottom: 2px solid $link-color;
	color: $link-color;
	font-family: $body-type;
	text-decoration: none;
	&:hover {
		/*tbd*/
	}
}

h1, h2 {
	line-height: 1.3;
}

h1 {
	font-size: 1.4rem;
}

h2 {
	font-size: 1.25rem;
}

p, a {
	font-size: 1.1rem;
	font-weight: $body-regular;
	line-height: 1.7;
}

.callout--code {
	color: $code-color;
	font-family: $code-type;
}

.callout--linumber {
	font-size: 1.2rem;
	font-weight: $body-bold;
}

/*general alignment styles*/
.wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 43.75rem; /*700px*/
	width: 95%;
}

/*section styles*/
section {
	border-bottom: 2px solid rgba($main-color, 0.5);
	padding-bottom: 1rem;
	padding-top: 1rem;
	&:first-of-type {
		border-top: 2px solid rgba($main-color, 0.5);
	}
}

/*list styles*/
ol {
	list-style-type: none;
	li:not(:last-of-type) {
		margin-bottom: 1.5rem;
	}
}

/*img styles*/
img {
	max-width: 40.625rem; /*650px*/
}